img {
  object-fit: contain;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-base, inherit);
  font-size: 14px;
  line-height: 1.29;
  background-color: var(--bg-primary, #ffffff);
  color: var(--color-base, #444444);
  min-height: 100%;
}

@media (min-width: 768px) {
  body {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
  }
}

// @media (min-width: 1440px) {
//   body {
//     width: 1440px;
//   }
// }
