:root {
  --font-base: "Lato", "Arial", sans-serif;
  --font-second: "Oswald", "Arial", sans-serif;
  --fontsize-base: 14px;
  --fontsize-tabdesk: 16px;
  --color-base: #444444;
  --color-second: #000000;
  --color-third: #ffffff;
  --bg-primary: #ffffff;
  --bg-secondary: #f2f2f2;
  --bg-tertiary: #eaeaea;
  --bg-accent: #68b738;
  --radius-half: 50%;
  --text-upper: uppercase;
  --text-no-under: none;
  --center: 0 auto;
}
