.body__wrapper {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body__main {
  flex-grow: 1;
}

.body__footer {
  background-color: var(--bg-secondary, #f2f2f2);
}

@media (min-width: 1440px) {
  .body__header {
    position: relative;

    &::before {
      content: "";
      z-index: -1;
      background-image: linear-gradient(270deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), linear-gradient(270deg, #3f3e46, #404145);
      background-size: auto;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .body__header--catalog {
    &::before {
      background-image: none;
    }
  }
}
