.cards-list__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr min-content;
  row-gap: 14px;
  padding: 21px 6.4% 24px;
  box-sizing: border-box;
}

.cards-list__item--more {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  padding-top: 0;
  padding-bottom: 24px;

  &::after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px 30px;
    margin-top: 25px;
    align-self: center;
  }
}

@media (max-width: 767px) {
  .cards-list__item {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: 768px) {
  .cards-list__item {
    max-width: 324px;
    display: grid;
    grid-template-columns: 37px 250px 37px;
    grid-template-rows: 69px 150px 1fr max-content min-content 28px;
    row-gap: 12px;
    padding: 0;

    &::before {
      content: "";
      display: block;
      width: 100%;
      background-image: linear-gradient(to bottom, #ffffff 0, #f2f2f2 0);
      grid-column: 1 / -1;
      grid-row: 2 / -1;
    }
  }

  .cards-list__item--more {
    display: flex;
    flex-direction: column;
    min-width: 324px;
    margin-top: 84px;
    padding: 0 0 40px;
    justify-content: center;
    row-gap: 23px;
    box-shadow: 0 0 0 2px var(--bg-secondary, #000080);

    &::before {
      background-image: none;
    }

    &::after {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      margin: 49px 0 0 2px;
      order: -4;
    }
  }
}

@media (min-width: 1440px) {
  .cards-list__item {
    min-width: 0;
    width: 245px;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 0;
    grid-template-columns: 38px 169px 38px;
    grid-template-rows: 63px 129px 1fr max-content min-content 23px;
    row-gap: 17px;
  }

  .cards-list__item--more {
    min-width: 245px;
    justify-content: flex-end;
    row-gap: 23px;
    margin-top: 77px;
    padding: 0 38px 40px;

    &::after {
      margin: 0;
      margin-bottom: -8px;
    }
  }
}
