.card__title {
  font-family: var(--font-second, inherit);
  font-size: 16px;
  line-height: 1.25;
  max-width: 85px;
  margin: 0;
  margin-top: 2px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.card__link {
  font-weight: 400;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__image-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 0;
  width: 140px;
  height: 107px;
}

.card__image-link--pro {
  padding-top: 0;
}

.card__description {
  font-size: 12px;
  line-height: 1.33;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
}

.card__description dd,
.card__definition {
  margin: 0;
}

.card__description dd {
  margin-left: 1px;
}

.card__definition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45%;
}

.card__button {
  margin-top: 2px;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.card__subtitle {
  font-family: var(--font-second, inherit);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 13px 0;
}

.card__description--subproducts {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  display: flex;
  gap: 30%;
}

.card__button--subproduct {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .card__title {
    max-width: 135px;
    margin: 0;
    justify-self: center;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card__link {
    font-size: 20px;
    line-height: 1.2;
  }

  .card__image-link {
    min-width: 200px;
    min-height: 210px;
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .card__description {
    font-size: 16px;
    line-height: 1.25;
    min-width: 250px;
    margin: 0;
    margin-bottom: 20px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .card__description dd {
    margin-left: 0;
  }

  .card__definition {
    padding-top: 5px;
    padding-bottom: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid #cdcdcd;
  }

  .card__button {
    min-width: 250px;
    align-self: center;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin-top: 0;
  }

  .card__subtitle {
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .card__description--subproducts {
    font-size: 16px;
    line-height: 1.25;
    flex-direction: row;
    justify-content: flex-end;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    gap: 53px;
  }

  .card__description--liters {
    gap: 61px;
  }

  .card__definition--subproduct {
    margin: 0;
    border: none;
  }

  .card__button--subproduct {
    width: auto;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 0;
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .card__definition--subproduct {
    flex-direction: row;
    justify-content: flex-end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

@media (min-width: 950px) and (max-width: 1439px) {
  .card__description--subproducts {
    width: 225px;
    justify-content: space-between;
  }

  .card__definition--subproduct:first-child {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .card__title {
    width: 140px;
    margin: 0;
    margin-bottom: 18px;
    justify-self: center;
    text-align: center;
  }

  .card__image-link {
    width: 169px;
    justify-content: flex-start;
  }

  .card__image--small {
    margin-top: 0;
  }

  .card__description {
    min-width: 169px;
    margin-bottom: 34px;
  }

  .card__definition {
    justify-content: flex-start;
    padding: 5px 0 7px;
    gap: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card__definition dt {
    grid-column: 1 / 2;
  }

  .card__definition dd {
    grid-column: 2 / 3;
    justify-self: flex-end;
  }

  .card__definition--subproduct {
    display: block;
    padding: 0;
    padding-top: 6px;
    align-self: center;
  }

  .card__definition--subproduct:first-child {
    margin: 0;
    margin-right: 60px;
  }

  .card__button {
    min-width: 169px;
    align-self: center;
    margin: 0;
    margin-top: auto;
  }

  .card__button--subproduct {
    margin: 0;
    padding: 10px 0;
    width: 244px;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .card__subtitle {
    font-size: 20px;
    margin: 0;
    align-self: center;
  }

  .card__description--subproducts {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: subgrid;
    padding: 0;
    margin: 0;
  }
}
