.cards-list__item {
  display: flex;
  flex-direction: column;
  // grid-template-columns: repeat(2, 140px);
  // grid-template-rows: repeat(3, min-content);
  row-gap: 14px;
  padding-top: 20px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.cards-list__item--more {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  padding-top: 0;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px 30px;
    margin-top: 25px;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .cards-list__item {
    min-width: 324px;
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom, #ffffff 25%, #f2f2f2 25%);
  }

  .cards-list__item--more {
    min-width: 324px;
    justify-content: flex-end;
    row-gap: 23px;

    &::before {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      margin: 0;
      margin-bottom: 27px;
    }
  }
}

@media (min-width: 1440px) {
  .cards-list__item {
    min-width: 0;
    width: 245px;
    box-sizing: border-box;
  }

  .cards-list__item--more {
    min-width: 245px;
    justify-content: flex-end;
    row-gap: 26px;

    &::before {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      margin: 0;
      margin-bottom: 27px;
    }
  }
}
