.cards__wrapper {
  margin: 0 auto;
}

.cards__title {
  font-family: var(--font-second, inherit);
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-second, #fa5072);
  margin: 0;
  padding: 26px 6.4% 41px;
  box-sizing: border-box;
}

.cards__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .cards__title {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: 768px) {
  .cards__wrapper {
    padding: 0 3.9%;
    margin-bottom: 94px;
  }

  .cards__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 59px 60px;
    margin: 0;
  }

  .cards__title {
    font-size: 60px;
    padding: 0;
    padding-top: 11px;
    margin-bottom: 84px;
  }
}

@media (min-width: 950px) and (max-width: 1439px) {
  .cards__title {
    text-align: center;
  }

  .cards__list {
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .cards__wrapper {
    padding: 0 7.63%;
    margin-bottom: 44px;
  }

  .cards__title {
    margin-bottom: 84px;
  }

  .cards__list {
    gap: 63px 80px;
    justify-content: flex-start;
  }
}

@media (min-width: 1920px) {
  .cards__title {
    text-align: center;
  }

  .cards__list {
    justify-content: center;
  }
}
