.cards-list__item--more {
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px 30px;
    margin-top: 25px;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .cards-list__item {
    background-image: linear-gradient(to bottom, #ffffff 25%, #f2f2f2 25%);
  }

  .cards-list__item--more {
    align-items: flex-start;

    &::before {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
    }
  }
}
