.card__title {
  font-family: var(--font-second, inherit);
  font-size: 16px;
  line-height: 1.25;
  width: 76px;
  margin: 0;
  margin-right: 65px;
  margin-bottom: -55px;
  align-self: flex-end;
  flex-grow: 1;
}

.card__link {
  font-weight: 400;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  // grid-column: 2 / 3;
  // grid-row: 1 / 2;
}

.card__image-link {
  // grid-column: 1 / 2;
  // grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 140px;
  padding: 11px 0;
  box-sizing: border-box;
}

.card__description {
  width: 140px;
  font-size: 12px;
  line-height: 1.33;
  // grid-column: 2 / 3;
  // grid-row: 2 / 3;
  margin-top: -75px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.card__description dd,
.card__definition {
  margin: 0;
}

.card__definition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__button {
  margin-top: 17px;
  // grid-column: 1 / -1;
  // grid-row: 3 / 4;
}

.card__subtitle {
  font-family: var(--font-second, inherit);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 13px 0;
}

.card__description--subproducts {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.card__button--subproduct {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .card__title {
    width: 135px;
    margin: 0;
    margin-bottom: 20px;
    align-self: center;
    text-align: center;
  }

  .card__link {
    font-size: 20px;
    line-height: 1.2;
  }

  .card__image-link {
    min-width: 250px;
    order: -1;
    padding: 0;
    align-self: center;
  }

  .card__image--small {
    padding-top: 29px;
    padding-bottom: 5px;
  }

  .card__description {
    font-size: 16px;
    line-height: 1.25;
    min-width: 250px;
    margin: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .card__definition {
    margin-bottom: 7px;
  }

  .card__button {
    min-width: 250px;
    align-self: center;
  }

  .card__subtitle {
    font-size: 20px;
    // grid-column: 1 / 2;
    // grid-row: 1 / 2;
  }

  .card__description--subproducts {
    font-size: 16px;
    line-height: 1.25;
    flex-direction: row;
    justify-content: flex-end;
  }

  .card__definition--subproduct {
    margin: 0;
  }

  .card__definition--subproduct:first-child {
    margin-right: 21.88%;
  }

  .card__button--subproduct {
    width: auto;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .card__definition--subproduct {
    flex-direction: row;
    justify-content: flex-end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

@media (min-width: 950px) and (max-width: 1439px) {
  .card__description--subproducts {
    width: 225px;
    justify-content: space-between;
  }

  .card__definition--subproduct:first-child {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .card__title {
    width: 140px;
    margin: 0;
    margin-bottom: 23px;
    align-self: center;
    text-align: center;
  }

  .card__image-link {
    width: 169px;
  }

  .card__image--small {
    padding-top: 29px;
    padding-bottom: 5px;
  }

  .card__description {
    min-width: 169px;
  }

  .card__definition {
    margin-bottom: 7px;
  }

  .card__definition--subproduct {
    display: block;
  }

  .card__button {
    min-width: 169px;
    align-self: center;
  }

  .card__button--subproduct {
    margin: 0;
    width: 244px;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .card__subtitle {
    font-size: 20px;
    margin: 10px 0;
  }

  .card__description--subproducts {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: subgrid;
  }
}
