.details__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .details__wrapper {
    width: 709px;
    margin: 0 auto;
    padding-top: 9px;
  }
}

@media (min-width: 1440px) {
  .details__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}

.details__title {
  font-family: var(--font-second, inherit);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 400;
  color: var(--color-second, #fa8072);
  margin: 20px 0 40px;
}

@media (min-width: 768px) {
  .details__title {
    font-size: 60px;
    line-height: 1;
    margin: 16px 0 32px;
  }
}
