.details__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .details-list {
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-height: 768px) {
  .details-list {
    counter-reset: list;
  }
}

.details-list__item {
  display: flex;
  gap: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--bg-accent, #000080);
    background-image: var(--icon-details, url("../../icons/stack.svg#icon-leaf"));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px 32px;
    flex-shrink: 0;
  }
}

.details-list__item--leaf {
  margin-right: 15px;
  width: 230px;
  --icon-details: url("../../icons/stack.svg#icon-leaf");
}

.details-list__item--powder {
  width: 246px;
  --icon-details: url("../../icons/stack.svg#icon-powder");
}

.details-list__item--eat {
  width: 247px;
  --icon-details: url("../../icons/stack.svg#icon-eat");
}

.details-list__item--time {
  width: 249px;
  --icon-details: url("../../icons/stack.svg#icon-time");
}

@media (min-width: 768px) {
  .details-list {
    column-gap: 137px;
  }

  .details-list__item {
    counter-increment: list;
    min-width: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    margin-bottom: 37px;

    &::before {
      width: 80px;
      height: 80px;
      margin-top: 40px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &::after {
      content: counter(list) " ";
      position: relative;
      font-family: var(--font-second, inherit);
      font-size: 280px;
      line-height: 1;
      color: var(--bg-secondary, #000080);
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      right: 6px;
    }
  }

  .details-list__item span {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    z-index: 3;
  }
}

@media (min-width: 1440px) {
  .details-list {
    column-gap: 77px;
  }

  .details-list__item--eat {
    margin-right: 2px;
  }

  .details-list__item--leaf {
    margin-right: 15px;
  }
}
