.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 767px) {
  .header__logo-wrapper {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .header__logo {
    margin-top: 5px;
    margin-right: 56px;
    padding-bottom: 12px;
  }

  .header__logo-title {
    margin-top: 5px;
    margin-right: 65px;
    padding-bottom: 12px;
  }

  .header__logo--catalog {
    margin-top: 0;
  }

  .header__logo-title--catalog {
    margin-right: 66px;
  }
}

@media (min-width: 768px) {
  .header__burger {
    display: none;
  }

  .header__logo-wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  .header__logo-wrapper {
    margin-left: 8px;
  }

  .header__main-navigation {
    position: relative;
    z-index: 3;
  }
}
