.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo--image {
  display: block;
  width: 33px;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .logo__description--footer {
    margin-bottom: 5px;
  }

  .logo--image {
    width: 60px;
    margin-right: 12px;
  }
}

@media (min-width: 1440px) {
  .logo--image {
    width: 70px;
    margin-right: 14px;
  }
}
