.main__promo {
  font-family: var(--font-second, inherit);
  position: relative;
  text-align: center;
  background-color: #3b7d1d;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 63%, rgba(255, 255, 255, 1) 37%), image-set("../../images/index-background-mobile@2x.webp" 2x type("image/webp"), "../../images/index-background-mobile@1x.webp" 1x type("image/webp"), "../../images/index-background-mobile@2x.jpg" 2x type("image/jpg"), "../../images/index-background-mobile@1x.jpg" 1x type("image/jpg")), linear-gradient(to right, #4f4e54 50%, #424147 50%);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain, 320px 302px, contain;
  color: var(--color-third, #fa8072);
  margin-top: -5px;
}

.main__details {
  margin-bottom: 49px;
}

.main__example {
  background-color: var(--bg-tertiary, #eaeaea);
  margin-bottom: 6px;
}

.main__contacts {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 57px;
    height: 53px;
    background-image: url("../../images/map-pin@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 57px 53px;
    bottom: 37%;
    left: 42%;
    z-index: 2;
  }
}

.main__contacts iframe {
  position: relative;
  width: 100%;
  border: none;
  display: block;
  margin-top: -362px;
  z-index: 1;
}

@media (min-width: 768px) {
  .main__example {
    background-image: linear-gradient(to bottom, #ffffff 55.5%, #eaeaea 55.5%);
  }

  .main__contacts {
    &::after {
      width: 113px;
      height: 106px;
      background-image: url("../../images/map-pin-tablet@1x.png");
      background-size: 113px 106px;
      bottom: 26%;
      left: 43.2%;
    }
  }

  .main__contacts iframe {
    height: 400px;
    margin-top: -400px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main__promo {
    min-width: 709px;
    display: block;
    background-color: var(--bg-primary, #ffffff);
    background-image: none;
    color: var(--color-second, #fa8072);
    margin: 0 auto -5px;
  }

  .main__details {
    margin-bottom: 55px;
  }

  .main__example {
    margin-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .main__promo {
    background-image: none;
    background-color: #ffffff;
  }

  .main__example {
    grid-template-columns: 110px 1fr 110px;
    background-image: linear-gradient(to bottom, #ffffff 23%, #eaeaea 23%);
    margin-bottom: 0;
  }

  .main__cards {
    margin-bottom: 46px;
  }

  .main__contacts {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 400px);

    &::after {
      bottom: 41%;
      left: 63%;
    }
  }

  .main__contacts iframe {
    height: 400px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    margin: 0;
  }
}
