.main-navigation {
  font-family: var(--font-second, inherit);
}

.main-navigation__list {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-navigation__list--catalog {
  margin: 0;
}

.main-navigation__link,
.main-navigation__link-catalog {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-second, #fa8072);

  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: 767px) {
  .main-navigation__list {
    width: 100%;
    background-color: var(--bg-primary, #000080);
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 1;
  }

  .main-navigation--closed .main-navigation__list {
    display: none;
  }

  .main-navigation__link,
  .main-navigation__link-catalog {
    display: block;
    padding: 22px 6.25%;
    border-top: 1px solid #e6e6e6;
  }

  .main-navigation--opened .main-navigation__item {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .main-navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    flex-wrap: wrap;
    margin-right: 4px;
  }

  .main-navigation__list--catalog {
    margin: 0;
    padding: 0 5px;
  }

  .main-navigation__link,
  .main-navigation__link-catalog {
    font-size: 18px;
    line-height: 1.33;
  }

  .main-navigation__link--current,
  .main-navigation__link-catalog--current {
    &::after {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: 2px;
      background-color: var(--bg-accent, #000080);
      top: 7px;
    }
  }
}

@media (min-width: 1440px) {
  .main-navigation__link,
  .main-navigation__link-catalog {
    font-size: 20px;
    line-height: 1.5;
    display: block;
  }

  .main-navigation__link {
    color: var(--color-third, #fa8072);
  }

  .main-navigation__link-catalog {
    color: #111111;
  }

  .main-navigation__link--current {
    &::after {
      background-color: var(--color-third, #000080);
    }
  }

  .main-navigation__list {
    margin: 0;
    margin-right: 2px;
    margin-bottom: 2px;
  }

  .main-navigation__list--catalog {
    padding: 0;
  }
}
