.more-products {
  background-image: none;
}

.more-products__title {
  font-family: var(--font-second, inherit);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .more-products__title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.more-products__description {
  font-size: 12px;
  line-height: 1.33;
}

@media (min-width: 768px) {
  .more-products__description {
    font-size: 18px;
    line-height: 1.13;
  }
}

.more-products__link {
  text-decoration: var(--text-no-under, none);
  color: var(--color-base, #fa8072);
}
