.more-products {
  background-image: none;
}

.more-products__title {
  font-family: var(--font-second, inherit);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-top: 24px;
  align-self: center;
}

.more-products__description {
  font-size: 12px;
  line-height: 1.33;
  margin: 8px 0;
  align-self: center;
}

.more-products__link,
.more-products__title-link {
  text-align: center;
  text-decoration: none;
  color: var(--color-base, #fa8072);
  margin-top: 12px;
}

.more-products__title-link {
  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .more-products__title {
    width: 134px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-top: 4px;
  }

  .more-products__description {
    font-size: 16px;
    max-width: 170px;
    line-height: 1.13;
    text-align: center;
    margin: 0;
    margin-bottom: 26px;
  }

  .more-products__link {
    width: 77%;
    box-sizing: border-box;
    align-self: center;
    margin-top: 33px;
  }
}

@media (min-width: 1440px) {
  .more-products__title {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .more-products__description {
    margin-bottom: 35px;
  }

  .more-products__link {
    width: 98.4%;
  }
}
