.main__promo {
  font-family: var(--font-second, inherit);
  position: relative;
  text-align: center;
  background-color: #3b7d1d;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 60%, rgba(255, 255, 255, 1) 40%), url("../../images/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  color: var(--color-third, #fa8072);
  display: grid;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main__promo {
    background-color: var(--bg-primary, #ffffff);
    background-image: none;
    color: var(--color-second, #fa8072);
  }
}

@media (min-width: 1440px) {
  .main__promo {
    background-image: image-set(url("../../images/index-background-desktop@1x.webp") type("image/webp") 1x, url("../../images/index-background-desktop@2x.webp") type("image/webp") 2x, url("../../images/index-background-desktop@1x.jpg") type("image/jpg") 1x, url("../../images/index-background-desktop@2x.jpg") type("image/jpg") 2x), linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%);
    // background-color: #3b7d1d;
    background-position: 100% 0;
  }
}

.promo__wrapper {
  margin: 0 auto;
  grid-column: 2 / 3;
}

.promo__title {
  margin: 0;
  margin-top: 27px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

@media (min-width: 768px) {
  .promo__title {
    color: var(--color-second, #fa8072);
    font-size: 60px;
    line-height: 1;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin: 25px 0;
  padding-bottom: 4px;
}

@media (min-width: 768px) {
  .promo__slogan {
    color: var(--color-second, #fa8072);
    font-size: 20px;
    line-height: 1;
  }
}

.promo__link {
  text-decoration: none;
}
