.promo__wrapper {
  margin: 0 auto;
  padding: 22px 6.25% 0;
  box-sizing: border-box;
}

.promo__title {
  margin: 0;
  margin-top: 5px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.promo__slogan {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin: 25px 0;
  padding-bottom: 4px;
}

.promo__picture {
  margin-top: 0;
  margin-bottom: 23px;
}

.promo__link {
  display: block;
  width: 100%;
  text-decoration: none;
  margin: -23px auto 20px;
}

@media (min-width: 768px) {
  .promo__wrapper {
    padding: 0 3.91%;
    display: grid;
    grid-template-columns: 90px 1fr 208px;
    grid-template-rows: repeat(4, min-content);
  }

  .promo__title {
    color: var(--color-second, #fa8072);
    font-size: 60px;
    line-height: 1;
    text-align: left;
    margin-bottom: 15px;
    grid-column: 2 / 3;
  }

  .promo__slogan {
    color: var(--color-second, #fa8072);
    font-size: 20px;
    line-height: 1;
    text-align: left;
    grid-column: 2 / 3;
    margin-bottom: 17px;
  }

  .promo__picture {
    margin: 0;
    margin-right: 5px;
    grid-column: 1 / -1;
    grid-row: 3 / 5;
  }

  .promo__link {
    width: 244px;
    margin: 0;
    margin-top: 30px;
    margin-right: -35px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1440px) {
  .promo__wrapper {
    margin-bottom: 82px;
    padding: 0 110px;
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr 163px 431px;
    grid-template-rows: min-content min-content 89px 185px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 694px;
      background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), image-set("../../images/index-desktop@2x.webp" 2x type("image/webp"), "../../images/index-desktop@1x.webp" 1x type("image/webp"), "../../images/index-desktop@2x.jpg" 2x type("image/jpg"), "../../images/index-desktop@1x.jpg" 1x type("image/jpg")), linear-gradient(to right, #535258 50%, #403f45 50%);
      background-repeat: no-repeat;
      background-size: auto 694px;
      background-color: #3b7d1d;
      background-position: 0 0;
      inset: 0;
      left: 720px;
      z-index: 0;
      top: -174px;
    }
  }

  .promo__title {
    text-align: left;
    margin-top: 51px;
    z-index: 1;
    grid-column: 2 / 3;
  }

  .promo__slogan {
    color: var(--color-second, #fa8072);
    font-size: 20px;
    line-height: 1;
    text-align: left;
    grid-row: 2 / 3;
    padding: 0;
  }

  .promo__picture {
    width: 552px;
    position: relative;
    margin: 0;
    z-index: 5;
    bottom: 279px;
    left: 368px;
    box-sizing: border-box;
    grid-column: 2 / 5;
  }

  .promo__link {
    margin: 0;
    margin-top: 35px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
