.promo__wrapper {
  margin: 0 auto;
  grid-column: 2 / 3;
}

.promo__title {
  margin: 0;
  margin-top: 27px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

@media (min-width: 768px) {
  .promo__title {
    color: var(--color-second, #fa8072);
    font-size: 60px;
    line-height: 1;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin: 25px 0;
  padding-bottom: 4px;
}

@media (min-width: 768px) {
  .promo__slogan {
    color: var(--color-second, #fa8072);
    font-size: 20px;
    line-height: 1;
  }
}

.promo__link {
  text-decoration: none;
}
