.promo__wrapper {
  margin: 0 auto;
  padding: 27px 20px 0;
  box-sizing: border-box;
}

.promo__title {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.promo__slogan {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin: 25px 0;
  padding-bottom: 4px;
}

.promo__picture {
  margin-top: 4px;
}

.promo__link {
  display: block;
  width: 280px;
  text-decoration: none;
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  .promo__wrapper {
    padding: 0 30px;
    min-width: 709px;
    display: grid;
    grid-template-columns: 90px 1fr 208px;
    grid-template-rows: repeat(4, min-content);
  }

  .promo__title {
    color: var(--color-second, #fa8072);
    font-size: 60px;
    line-height: 1;
    text-align: left;
    margin-bottom: 15px;
    grid-column: 2 / 3;
  }

  .promo__slogan {
    color: var(--color-second, #fa8072);
    font-size: 20px;
    line-height: 1;
    text-align: left;
    grid-column: 2 / 3;
  }

  .promo__picture {
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    margin-left: 35px;
  }

  .promo__link {
    margin: 0;
    margin-top: 29px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1440px) {
  .promo__wrapper {
    margin-bottom: 82px;
    padding: 0 110px;
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr 163px 431px;
    grid-template-rows: min-content min-content 94px 160px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 720px;
      height: 694px;
      background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../../images/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 720px 694px;
      background-color: #3b7d1d;
      background-position: 100% 0;
      inset: 0;
      left: 720px;
      z-index: 0;
      top: -149px;
    }
  }

  .promo__title {
    text-align: left;
    margin-top: 81px;
    z-index: 1;
    grid-column: 2 / 3;
  }

  .promo__slogan {
    color: var(--color-second, #fa8072);
    font-size: 20px;
    line-height: 1;
    text-align: left;
    grid-row: 2 / 3;
  }

  .promo__picture {
    width: 552px;
    position: relative;
    margin: 0;
    z-index: 5;
    bottom: 290px;
    left: 367px;
    box-sizing: border-box;
    grid-column: 2 / 5;
  }

  .promo__link {
    margin: 0;
    margin-top: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
