.social-item__link {
  display: block;
  min-height: 40px;
  text-decoration: none;
  color: inherit;
  padding: 12px;
  box-sizing: border-box;


  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    background-color: #666666;
  }
}

.social-item__link--vk {
  mask-size: 27px 17px;
  --icon: url("../../images/icon-vk.svg");
}

.social-item__link--youtube {
  mask-size: 24px 19px;
  --icon: url("../../images/icon-youtube.svg");
}

.social-item__link--twitter {
  mask-size: 18px 17px;
  --icon: url("../../images/icon-tg.svg");
}

.social-item__link:hover::before,
.social-item__link:focus::before {
  background-color: #68b738;
}

.social-item__link:active::before {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .social-item__link {
    padding: 8px 8px 12px 12px;
  }
}
